# Imports

In [1]:
import joblib
import json

# SCRUB

In [3]:
df = joblib.load('../data/unscaled_data.joblib')

In [6]:
df

,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,target,Clusters
0,45,M,3,High School,Married,60K_to_80K,Blue,39,5,1,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0,4
1,49,F,5,Graduate,Single,Less_than_40K,Blue,44,6,1,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0,2
2,51,M,3,Graduate,Married,80K_to_120K,Blue,36,4,1,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0,2
3,40,F,4,High School,Unknown,Less_than_40K,Blue,34,3,4,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0,2
4,40,M,3,Uneducated,Married,60K_to_80K,Blue,21,5,1,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,50,M,2,Graduate,Single,40K_to_60K,Blue,40,3,2,...,4003.0,1851,2152.0,0.703,15476,117,0.857,0.462,0,0
10123,41,M,2,Unknown,Divorced,40K_to_60K,Blue,25,4,2,...,4277.0,2186,2091.0,0.804,8764,69,0.683,0.511,1,2
10124,44,F,1,High School,Married,Less_than_40K,Blue,36,5,3,...,5409.0,0,5409.0,0.819,10291,60,0.818,0.000,1,1
10125,30,M,2,Graduate,Unknown,40K_to_60K,Blue,36,4,3,...,5281.0,0,5281.0,0.535,8395,62,0.722,0.000,1,1
10126,43,F,2,Graduate,Married,Less_than_40K,Silver,25,6,2,...,10388.0,1961,8427.0,0.703,10294,61,0.649,0.189,1,2

In [7]:
post_event = df.iloc[0].to_json()

In [8]:
post_event_json = json.loads(post_event)
len(post_event_json.keys())

21

In [9]:
post_event_json.keys()

dict_keys(['Customer_Age', 'Gender', 'Dependent_count', 'Education_Level', 'Marital_Status', 'Income_Category', 'Card_Category', 'Months_on_book', 'Total_Relationship_Count', 'Months_Inactive_12_mon', 'Contacts_Count_12_mon', 'Credit_Limit', 'Total_Revolving_Bal', 'Avg_Open_To_Buy', 'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt', 'Total_Trans_Ct', 'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio', 'target', 'Clusters'])

In [10]:
drop_keys_list = list(post_event_json.keys())[-2:]
drop_keys_list

['target', 'Clusters']

In [11]:
[post_event_json.pop(key) for key in drop_keys_list]

[0, 4]

In [12]:
post_event_json

{'Customer_Age': 45,
 'Gender': 'M',
 'Dependent_count': 3,
 'Education_Level': 'High School',
 'Marital_Status': 'Married',
 'Income_Category': '60K_to_80K',
 'Card_Category': 'Blue',
 'Months_on_book': 39,
 'Total_Relationship_Count': 5,
 'Months_Inactive_12_mon': 1,
 'Contacts_Count_12_mon': 3,
 'Credit_Limit': 12691.0,
 'Total_Revolving_Bal': 777,
 'Avg_Open_To_Buy': 11914.0,
 'Total_Amt_Chng_Q4_Q1': 1.335,
 'Total_Trans_Amt': 1144,
 'Total_Trans_Ct': 42,
 'Total_Ct_Chng_Q4_Q1': 1.625,
 'Avg_Utilization_Ratio': 0.061}

In [13]:
len(post_event_json.keys())

19

In [14]:
post_event_json_trimmed = json.dumps(post_event_json)
post_event_json_trimmed

'{"Customer_Age": 45, "Gender": "M", "Dependent_count": 3, "Education_Level": "High School", "Marital_Status": "Married", "Income_Category": "60K_to_80K", "Card_Category": "Blue", "Months_on_book": 39, "Total_Relationship_Count": 5, "Months_Inactive_12_mon": 1, "Contacts_Count_12_mon": 3, "Credit_Limit": 12691.0, "Total_Revolving_Bal": 777, "Avg_Open_To_Buy": 11914.0, "Total_Amt_Chng_Q4_Q1": 1.335, "Total_Trans_Amt": 1144, "Total_Trans_Ct": 42, "Total_Ct_Chng_Q4_Q1": 1.625, "Avg_Utilization_Ratio": 0.061}'

# Curl creation

In [15]:
print(f"""curl --location --request POST 'http://localhost:5000/predict' --header 'Content-Type: application/json' --data-raw '{post_event_json_trimmed}'""")

curl --location --request POST 'http://localhost:5000/predict' --header 'Content-Type: application/json' --data-raw '{"Customer_Age": 45, "Gender": "M", "Dependent_count": 3, "Education_Level": "High School", "Marital_Status": "Married", "Income_Category": "60K_to_80K", "Card_Category": "Blue", "Months_on_book": 39, "Total_Relationship_Count": 5, "Months_Inactive_12_mon": 1, "Contacts_Count_12_mon": 3, "Credit_Limit": 12691.0, "Total_Revolving_Bal": 777, "Avg_Open_To_Buy": 11914.0, "Total_Amt_Chng_Q4_Q1": 1.335, "Total_Trans_Amt": 1144, "Total_Trans_Ct": 42, "Total_Ct_Chng_Q4_Q1": 1.625, "Avg_Utilization_Ratio": 0.061}'

# Version check {local}

In [6]:
import sklearn
print(sklearn.__version__)
import xgboost
print(xgboost.__version__)
import pandas
print(pandas.__version__)
import flask
print(flask.__version__)
import numpy
print(numpy.__version__)
import gunicorn
print(gunicorn.__version__)

0.23.2
1.7.3
1.3.5
1.1.4
1.19.2

ModuleNotFoundError: No module named 'gunicorn'

In [2]:
import sys
print(sys.executable)
print(sys.version)
print(sys.version_info)

c:\Users\tamji\anaconda3\envs\learn-env\python.exe
3.8.5 | packaged by conda-forge | (default, Sep 24 2020, 16:20:24) [MSC v.1916 64 bit (AMD64)]
sys.version_info(major=3, minor=8, micro=5, releaselevel='final', serial=0)

# Readme

build image from Dockerfile

``` bash
docker build -t ml-model-churn .
```

run server

``` bash
docker run -d -p 5000:5000 ml-model-churn
```

previusly run container
```bash
docker start <CONTAINER> # eloquent_boyd
```

list all running
``` bash
docker ps
```

reference:

[docker-using-flask](https://medium.com/swlh/machine-learning-model-deployment-in-docker-using-flask-d77f6cb551d6)